DB_HOST=endpoint_o_ip_de_mysql
DB_PORT=3306
DB_NAME=nombre_de_base_de_datos
DB_USER=usuario_mysql
DB_PASSWORD=coloca_la_contrasena
DB_TABLE=nombre_de_tabla

S3_BUCKET=nombre_de_tu_bucket
S3_PREFIX=raw/ingesta02
